<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form Ubah Data</title>
    <link href="/css/style-tambah.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <h3>Ubah Data</h3>
      <div>
        <form
          action="#"
          th:action="@{/simpan}"
          th:object="${mhs}"
          method="post"
        >
          <table>
            <tr>
              <td>NIM</td>
              <td>
                <input
                  type="text"
                  th:field="*{nim}"
                  id="nim"
                  readonly="true"
                  class="inputan"
                />
              </td>
            </tr>
            <tr>
              <td>Nama</td>
              <td>
                <input
                  type="text"
                  th:field="*{nama}"
                  id="nama"
                  class="inputan"
                />
              </td>
            </tr>
            <tr>
              <td>Jurusan</td>
              <td>
                <input
                  type="text"
                  th:field="*{jurusan}"
                  id="jurusan"
                  class="inputan"
                />
              </td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>
                <input
                  type="text"
                  th:field="*{alamat}"
                  id="alamat"
                  class="inputan"
                />
              </td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Simpan" id="btn" /></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
